<div id='housekeep-list'>
  <% unless @pages.empty? %>
    <% @pages.group_by_date.each do |transacted_date, pages| %>
      <div id="pages-<%= transacted_date %>", class="pages">
        <div class='header'>
          <h3><%= transacted_date %></h3>
          <%= link_to "New", new_page_path(transacted_at: transacted_date), class: 'new-page btn btn-primary', remote: true %>
        </div>

        <table class='table table-condensed'>
          <thead>
            <tr>
              <th>Time</th>
              <th>Income</th>
              <th>Expense</th>
              <th>Note</th>
              <th>Menu</th>
            </tr>
          </thead>
          <tbody>
            <% pages.each do |page| %>
              <tr id="page-<%= page.id %>", class='page'>
                <td class='transacted-at'><%=l page.transacted_at %></td>
                <td class='income'><%= page.income? ? number_to_currency(page.amount) : '' %></td>
                <td class='expense'><%= page.expense? ? number_to_currency(page.amount) : '' %></td>
                <td class='note'><strong><%= page.note %></strong></td>
                <td class='menu'>
                  <div class="btn-group">
                    <%= link_to "Edit", [:edit, page], class: 'btn btn-warning btn-small', remote: true %>
                    <%= link_to "Remove", page, method: :delete, class: 'btn btn-danger btn-small', remote: true %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p class='total'><%=  number_to_currency pages.total %></p>
      </div>
    <% end %>
    <p class='total'>Total: <%=  number_to_currency @pages.total %></p>
  <% else %>
    <p>There is no Page</p>
  <% end %>
</div>