<h3>새로운 내역</h3>

<%= form_for @page do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div>
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= render 'pages/list' %>