<% unless @transactions.empty? %>
  <% @transactions.group_by_date.each do |transacted_date, transactions| %>
    <h3><%= transacted_date %></h3>
    <%= link_to "새로운 내역 작성하기", new_transaction_path(transacted_at: transacted_date) %>

    <table>
      <tr>
        <th>시간</th>
        <th>수입</th>
        <th>지출</th>
        <th>내역</th>
        <th>메뉴</th>
      </tr>
      <% transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.transacted_at %></td>
          <td><%= transaction.income? ? number_to_currency(transaction.amount) : '' %></td>
          <td><%= transaction.expense? ? number_to_currency(transaction.amount) : '' %></td>
          <td><%= transaction.note %></td>
          <td>
            <%= link_to "수정", [:edit, transaction] %>
            <%= link_to "제거", transaction, method: :delete %>
          </td>
        </tr>
      <% end %>
    </table>

    <p>총합: <%=  transactions.total %></p>
  <% end %>
  <p>총합: <%=  @transactions.total %></p>
<% else %>
  <p>가게부 내역이 없습니다.</p>
<% end %>
















